    <script>
        setTimeout(function() {
            const flashSuccess = document.getElementById('flash-success');
            const flashError = document.getElementById('flash-error');
            if(flashSuccess) {
                flashSuccess.style.display = 'none';
            }
            if(flashError) {
                flashError.style.display = 'none';
            }
        }, 3000);

        document.getElementById("togglePassword").addEventListener("click", function () {
            const passwordField = document.getElementById("password");
            const passwordFieldType = passwordField.type === "password" ? "text" : "password";
            passwordField.type = passwordFieldType;

            // Toggle the icon
            this.innerHTML = passwordFieldType === "password" 
                ? '<i class="ri-eye-line"></i>' 
                : '<i class="ri-eye-off-line"></i>';
        });

        // Mobile Menu Toggle Logic
        const toggleMenu = document.getElementById("toggleMenu");
        const closeMenu = document.getElementById("closeMenu");
        const mobileMenu = document.getElementById("mobileMenu");

        if (toggleMenu && mobileMenu) {
            toggleMenu.addEventListener("click", () => {
                mobileMenu.classList.remove("hidden");
            });

            closeMenu.addEventListener("click", () => {
                mobileMenu.classList.add("hidden");
            });
        }


    </script>
</body>

</html>